<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/contacto.css">
    <title>Contacto | demates.com</title>
</head>
<body>
    <!-- Inicio Header -->
    <header class="main-header">
        <a class="main-header__logo" href="../index.html">
            <img class="main-header__img" src="../img/logo.jpg" alt="Logo del sitio demates.com">
        </a>
        <nav class="main-header__nav">
            <ul> 
                <li>
                     <a href="../index.html">INICIO</a>
                </li>            
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>            
                <li>
                    <a href="../views/quienes-somos.html">QUIENES SOMOS</a>
                </li>            
                <li>
                    <a href="../views/tips-materos.html">TIPS MATEROS</a>
                </li>            
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin Header -->
    <main>
        <h1>CONTACTANOS</h1>
        <section>
            <h2>Escribinos un mensaje</h2>
            <form action="" method="post" enctype="text/plain">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="" required>
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="" required>
                <label for="email">Email:</label>
                <input type="email" name="email" id="" required>
                <label for="telefono">Teléfono:</label>
                <input type="tel" name="telefono" id="" required>
                <label for="mensaje">Mensaje:</label>
                <input type="text" name="mensaje" id="" required>
                <input type="submit" value="Enviar">
            </form> 
        </section>
    </main>
    <!-- Inicio Footer -->
    <footer class="footer">
        <nav class="footer__nav">
            <h3>Mapa del Sitio</h3>
            <ul> 
                <li>
                     <a href="../index.html">INICIO</a>
                </li>                
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>                
                <li>
                    <a href="../views/quienes-somos.html">QUIENES SOMOS</a>
                </li>                
                <li>
                    <a href="../views/tips-materos.html">TIPS MATEROS</a>
                </li>                
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <section class="footer__info">
            <h3>Datos de Contacto</h3>
            <ul> 
                <li>
                    + 54 9 3416236148
                </li>            
                <li>
                    <a href="mailto:ventas@demates.com">ventas@demates.com</a>
                </li>            
                <li>
                    Rosario, Santa Fe, Argentina
                </li>
            </ul>
        </section>
        <a class="footer__logo" href="../index.html">
            <img src="../img/logo.jpg" alt="Logo del sitio demates.com">
        </a>
    </footer>
    <!-- Fin Footer -->       
</body>
</html>