<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <title>Quienes somos | demates.com</title>
</head>
<body>
    <!-- Inicio Header -->
    <header class="main-header">
        <a class="main-header__logo" href="../index.html">
            <img class="main-header__img" src="../img/logo.jpg" alt="Logo del sitio demates.com">
        </a>
        <nav class="main-header__nav">
            <ul> 
                <li>
                     <a href="../index.html">INICIO</a>
                </li>            
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>            
                <li>
                    <a href="../views/quienes-somos.html">QUIENES SOMOS</a>
                </li>            
                <li>
                    <a href="../views/tips-materos.html">TIPS MATEROS</a>
                </li>            
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin Header -->
    <!-- Inicio Main -->
    <main class="main">
        <div class="main__title">
            <h1>¿QUIENES SOMOS?</h1>
        </div>        
        <section>
            <img src="../img/foto-quienes-somos.jpg" alt="Foto de amigos tomando mate">
            <article>
                <p>demates.com nace de las ganas de querer acercarte insumos característicos de la cultura Argentina priorizando la calidad y el precio.</p>
                <p>Somos un grupo de amigos que movidos por la pasión por el producto y las ganas de emprender, decidimos llevar el mate al mundo del e-commerce y que de alguna manera podamos acompañarte en tu día a día con tan solo un click</p>
                <p>Nos enfocamos en los detalles y en la atención personalizada para poder brindar un servicio cálido y eficiente. En demates.com no solo ofrecemos insumos materos sino también productos que conllevan historias, leyendas, buenos momentos y costumbres de nuestro pasado, presente y futuro.</p>
            </article>
        </section>
     </main>
    <!-- Fin Main -->
    <!-- Inicio Footer -->
    <footer class="footer">
        <nav class="footer__nav">
            <h3>Mapa del Sitio</h3>
            <ul> 
                <li>
                     <a href="../index.html">INICIO</a>
                </li>                
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>                
                <li>
                    <a href="../views/quienes-somos.html">QUIENES SOMOS</a>
                </li>                
                <li>
                    <a href="../views/tips-materos.html">TIPS MATEROS</a>
                </li>                
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <section class="footer__info">
            <h3>Datos de Contacto</h3>
            <ul> 
                <li>
                    + 54 9 3416236148
                </li>            
                <li>
                    <a href="mailto:ventas@demates.com">ventas@demates.com</a>
                </li>            
                <li>
                    Rosario, Santa Fe, Argentina
                </li>
            </ul>
        </section>
        <a class="footer__logo" href="../index.html">
            <img src="../img/logo.jpg" alt="Logo del sitio demates.com">
        </a>
    </footer>
    <!-- Fin Footer --> 
</body>
</html>