<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/tips-materos.css">
    <title>Tips materos | demates.com</title>
</head>
<body>
    <!-- Inicio Header -->
    <header class="main-header">
        <a class="main-header__logo" href="../index.html">
            <img class="main-header__img" src="../img/logo.jpg" alt="Logo del sitio demates.com">
        </a>
        <nav class="main-header__nav">
            <ul> 
                <li>
                     <a href="../index.html">INICIO</a>
                </li>            
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>            
                <li>
                    <a href="../views/quienes-somos.html">QUIENES SOMOS</a>
                </li>            
                <li>
                    <a href="../views/tips-materos.html">TIPS MATEROS</a>
                </li>            
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin Header -->
    <main>
        <h1>TIPS #DEMATEROS</h1>
        <section>
            <h2>CÓMO PREPARAR UN BUEN MATE</h2>
            <h3>APRENDÉ A PREPARAR EL MATE PERFECTO SIGUIENDO ESTOS PASOS</h3>
            <div>
                <img src="../img/img-1.png" alt="Imagen poniendo yerba en el mate">
                <img src="../img/img-2.png" alt="Imagen tamando con la palma de la mano el amte">
                <img src="../img/img-3.png" alt="Imagen humedeciendo la yerba">
                <img src="../img/img-4.png" alt="Imagen cebando mate">
            </div>
            <ol>
                <li>Llená las tres cuartas partes del mate con tu yerba</li>   
                <li>Invertí el mate, tapalo con la palma de la mano y agitalo ligeramente. Inclinalo para acumular la yerba en uno de sus lados.</li>
                <li>Humedecé la yerba con una pequeña cantidad de agua tibia y colocá la bombilla.</li>
                <li>Cebá los mates con agua entre 70ºC y 80ºC sobre la yerba cercana a la bombilla, dejando siempre parte de la yerba seca.</li>
            </ol>
        </section>
        <section>
            <h2>CÓMO CURAR TU MATE DE MADERA</h2>
            <h3>ES IMPORTANTE CURAR TU MATE DE MADERA PARA EVITAR QUE SE AGRIETE O PIERDA</h3>
            <div>
                <img src="../img/img-5.png" alt="Imagen untando la boca del mate con manteca">
                <img src="../img/img-6.png" alt="Imagen llenando el mate de yerba">
                <img src="../img/img-7.png" alt="Imagen retirando yerba">
            </div>
            <ol>
                <li>Untá hasta la boca del mate con aceite o manteca. TIP: La manteca le da más sabor a la madera</li>
                <li>Llená a tope con yerba usada y andá humedeciendo durante el día, con pequeñas cantidades de agua. TIP: humedecé, no llenes de agua.</li>
                <li>Después de 24hs, retirá y enjuagá.TIP: si queda un poco de manteca no pasa nada, eso hace que se termine de sellar.</li>
            </ol>
        </section>
    </main>
    <!-- Inicio Footer -->
    <footer class="footer">
        <nav class="footer__nav">
            <h3>Mapa del Sitio</h3>
            <ul> 
                <li>
                     <a href="../index.html">INICIO</a>
                </li>                
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>                
                <li>
                    <a href="../views/quienes-somos.html">QUIENES SOMOS</a>
                </li>                
                <li>
                    <a href="../views/tips-materos.html">TIPS MATEROS</a>
                </li>                
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <section class="footer__info">
            <h3>Datos de Contacto</h3>
            <ul> 
                <li>
                    + 54 9 3416236148
                </li>            
                <li>
                    <a href="mailto:ventas@demates.com">ventas@demates.com</a>
                </li>            
                <li>
                    Rosario, Santa Fe, Argentina
                </li>
            </ul>
        </section>
        <a class="footer__logo" href="../index.html">
            <img src="../img/logo.jpg" alt="Logo del sitio demates.com">
        </a>
    </footer>
    <!-- Fin Footer -->  
</body>
</html>