/* Footer */

.footer{
    padding: 2em;
    color: #E4E6C3;
    background-color: #222725;
    display: flex;
    justify-content: space-evenly;
    
    & ul li a {
        color: #E4E6C3;
    }
    
    &__logo img{
        max-width: 288px;
        max-height: 93px;
    }
}
